# Environment Variables
.env

# Python / Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Machine Learning Models
*.pt

# IDE / OS Files
.vscode/
.idea/
.DS_Store

# File Upload / Data
*.sqlite3
*.xlsx
*.xls